*::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100%;
  height: 636px;
  background-color: #fff;
  display: flex;
  position: relative;
  left: 0px;
  top: -10px;
}
.image-container {
  width: 636px;
  background-color: #fff;
}
.text-container {
  width: 640px;
  height: 636px;
}
.profile-img {
  width: 100%;
  height: 100%;
}
.sub-container {
  margin-top: 100px;
  margin-left: 50px;
}
.greetings {
  font-weight: 800;
  font-family: "Posterama 2001 W04 SemiBold";
  font-size: 36px;
  transform: translate(4px, 45px);
}
.intro {
  font-weight: 800;
  font-family: "Posterama 2001 W04 SemiBold";
  font-size: 72px;
}
.intro-name {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffba31;
}
.profession {
  width: 300px;
  font-size: 16px;
  background-color: #ffba31;
  transform: translate(0, -45px);
}
.description {
  font-size: 14px;
  width: 450px;
  transform: translate(0, -40px);
}
.home-btn {
  width: 190px;
  height: 80px;
  text-decoration: none;
  color: #fff;
  background-color: #ffba31;
  border: 1px solid #ffba31;
  border-radius: 15px;
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
}
.sidebar {
  width: 300px;
  height: 100%;
}
.body {
  width: 980px;
  height: 650px;

  background-color: #e5e5e5;
  display: flex;
}
.menu {
  width: 120px;
  height: 100%;
}
.menu-container {
  transform: translate(0, 150px);
}

.sidebar-container {
  width: 320px;
  height: 625px;
  background-color: #ffba31;
  margin-left: -10px;
  position: sticky;
  top: 0;
 
}
.sidebar-image {
  width: 100%;
  height: 200px;
}
.main-page-container {
  display: flex;
  margin-left: -10px;
  margin-top: -10px;
}

.main-page-container::-webkit-scrollbar {
  display: none;
}
.main-body-sub-container {
  width: 850px;
  height: 640px;
  overflow: hidden;
}
.main-side-bar {
  width: 300px;
  height: 640px;
  position: absolute;
  top: 634px;
  left: 0;
}
.main-body {
  width: 850px;
  height: 640px;
  position: absolute;
  top: 634px;
  left: 300px;
  overflow: auto;
}
.main-menu {
  width: 130px;
  height: 640px;
  background-color: #e5e5e5;
  position: absolute;
  top: 634px;
  left: 1150px;
}
.clickable-container {
  margin-left: -35px;
  margin-top: 20px;
  text-align: center;
}
.clickable {
  width: 200px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  font-family: "Posterama 2001 W04 SemiBold";
  font-size: 18px;
  margin-top: 20px;
  margin-left: 40px;
  text-align: center;
  text-decoration: none;
}
.clickable:hover {
  background-color: #000;
  color: #fff;
}
.clickable:active {
  color: #fff;
}
#active {
  color: #fff;
  background-color: #ffba31;
}
.menu-sub-container {
  width: 40px;
  height: 386px;
  background-color: #ffba31;
  border: 1px solid #ffba31;
  border-radius: 35px;
  transform: translate(30px, 0);
  position: sticky;
  top: 130px;
}
#menu-sub-container {
  /* display: none; */
}
.icon {
  width: 30px;
  height: 20px;
  margin-top: 30px;
  margin-left: 5px;
  cursor: pointer;
}
.icon:hover {
  background-color: #fff;
  border-radius: 5px;
}
#active-icon {
  background-color: #fff;
  border-radius: 5px;
}
.user-selector {
  width: 400px;
  height: 400px;
  border: 1px solid #ffba31;
  box-shadow: 0 4px 8px 0 #ffba31;
  transition: 0.3s;
  margin: auto;
  transform: translate(0, 100px);
}
.dropdown-container {
  width: 250px;
  height: 55px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  left: 80px;
  top: 120px;
  text-align: center;
}
.options {
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
}
.options#options {
  border-bottom: 1px dotted black;
}
.options-container {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  position: absolute;
  left: -1px;
  top: 50px;
  overflow: auto;
  z-index: 10;
  border-top: none;
}

/* css for 820 pixel screens */
@media (max-width: 821px) {
  .container {
    width: 820px;
    height: 1180px;
    display: flex;
    flex-direction: column;
  }
  .image-container {
    width: 100%;
    height: 590px;
    order: 1;
    background-color: #fff;
  }
  .text-container {
    width: 100%;
    height: 590px;
    order: 2;
  }
  .sidebar-container {
    display: none;
  }
  .body {
    width: 820px;
    height: 1180px;
    justify-content: center;
    align-items: center;
  }
  .menu-sub-container {
    transform: translate(80px, 320px);
  }
  .intro-container {
    width: 100%;
    height: 100%;
  }
  /* css for user selector page */
  .user-selector {
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
    transform: translate(0, 310px);
  }
  .dropdown-container {
    width: 350px;
    height: 70px;
    transform: translate(50px, 90px);
  }
  .options-container {
    margin-top: 21px;
  }
  .options {
    padding: 10px;
  }
}

/* css for 430 pixel screens */
@media (max-width: 431px) {
  .main-page-all-in-div {
    width: 430px;
    height: 932px;
  }
  .container {
    width: 430px;
    height: 932px;
    display: flex;
    flex-direction: column;
  }
  .image-container {
    width: 100%;
    height: 466px;
    order: 1;
    background-color: #fff;
  }
  .text-container {
    width: 100%;
    height: 466px;
    order: 2;
  }
  .intro {
  }
  .menu-sub-container{
    display: none;
  }
  .body {
    position: relative;
    width: 430px;
    height: 932px;
  }
  .sub-container {
    margin-top: 0;
  }
  /* css for user selector page */
  .user-selector {
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    transform: translate(0, 310px);
  }
  .dropdown-container {
    width: 250px;
    height: 60px;
    transform: translate(-60px, -30px);
  }
  .options-container {
    height: 130px;
    margin-top: 12px;
  }
  .options {
    padding: 0px;
  }
}
